{{#zone "main"}}
    <div class="row wr-device-board">
        <div class="col-lg-12 wr-secondary-bar">
            <span class="page-sub-title">
                &nbsp;&nbsp;策略列表
            </span>
        </div>
    </div>
    {{#equal isUpdated true}}
        <input type="hidden" id="is-updated" name="country" value="UPDATED">
    {{/equal}}
    <!-- content -->
    <div class="container-fluid">
        <div id="loading-content" class="col-centered">
            <i class="fw fw-settings fw-spin fw-2x"></i>
            &nbsp;&nbsp;&nbsp;
            加载策略中 . . .
            <br>
        </div>
        <span id="policy-listing-status-msg" class="hidden">{{policyListingStatusMsg}}</span>
        {{#equal noPolicy false}}
        <table class="table table-striped table-hover list-table display responsive nowrap data-table table-selectable grid-view hidden" id="policy-grid">
            <thead>
            <tr class="sort-row">
                <th class="no-sort"></th>
                <th class="no-sort"></th>
                <th>平台</th>
                <th>所有权</th>
                <th>角色</th>
                <th>用户</th>
                <th>推送类型</th>
                <th>状态</th>
                <th class="no-sort"></th>
            </tr>
            <tr class="filter-row filter-box">
                <th class="no-sort"></th>
                <th class="no-sort"></th>
                <th data-for="By Platform" class="select-filter"></th>
                <th data-for="By Ownership Type" class="select-filter"></th>
                <th data-for="By Role" class="select-filter"></th>
                <th data-for="By User" class="text-filter"></th>
                <th data-for="By Compliance Type" class="select-filter"></th>
                <th data-for="By Status" class="select-filter"></th>
                <th class="no-sort"></th>
            </tr>
            <tr class="bulk-action-row">
                    <th colspan="9">
                        <ul class="tiles">
                            {{#if removePermitted}}
                                <li class="square">
                                    <a href="#" data-click-event="remove-form" class="btn square-element policy-remove-link" data-toggle="modal" data-target="#modalDemo">
                                            <span class="icon fw-stack">
                                                <i class="fw fw-ring fw-stack-2x"></i>
                                                <i class="fw fw-delete fw-stack-1x"></i>
                                            </span>
                                        移除
                                    </a>
                                </li>
                            {{/if}}
                            <li class="square">
                                <a href="#" data-click-event="remove-form" class="btn square-element policy-publish-link" data-toggle="modal" data-target="#modalDemo">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="glyphicon glyphicon-floppy-saved"></i>
                                        </span>
                                    发布
                                </a>
                            </li>
                            <li class="square">
                                <a href="#" data-click-event="remove-form" class="btn square-element policy-unpublish-link" data-toggle="modal" data-target="#modalDemo">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="glyphicon glyphicon-floppy-remove"></i>
                                        </span>
                                    取消发布
                                </a>
                            </li>
                        </ul>
                    </th>
            </tr>
            </thead>

            <tbody>
            {{#each policyListToView}}
                <tr data-type="selectable" data-id="{{id}}" data-status="{{status}}">
                    <td class="remove-padding icon-only content-fill">
                        <div class="thumbnail icon">
                            {{#equal platform "android"}}
                                <i class="square-element text fw fw-android"></i>
                            {{/equal}}
                            {{#equal platform "ios"}}
                                <i class="square-element text fw fw-apple"></i>
                            {{/equal}}
                            {{#equal platform "windows"}}
                                <i class="square-element text fw fw-windows"></i>
                            {{/equal}}
                        </div>
                    </td>
                    <td class="fade-edge" data-search="{{name}}" data-display="{{name}}">
                        <h4>{{name}}</h4>
                        <div>({{platform}})</div>
                        {{#equal status "Active/Updated"}}
                            <i class="fw fw-warning icon-success"></i> 活跃/已更新</span>
                        {{/equal}}
                        {{#equal status "Active"}}
                            <i class="fw fw-ok icon-success"></i> 活跃</span>
                        {{/equal}}
                        {{#equal status "Inactive/Updated"}}
                            <i class="fw fw-warning icon-warning"></i> 不活跃/已更新</span>
                        {{/equal}}
                        {{#equal status "Inactive"}}
                            <i class="fw fw-error icon-danger"></i> 不活跃</span>
                        {{/equal}}
                    </td>
                    <td class="fade-edge remove-padding-top" data-search="{{platform}}" data-display="{{platform}}"></td>
                    <td class="fade-edge remove-padding-top" data-search="{{ownershipType}}" data-display="{{ownershipType}}" data-grid-label="Ownership">{{ownershipType}}</td>
                    <td class="fade-edge remove-padding-top" data-search="{{roles}}" data-display="{{roles}}" data-grid-label="Role(s)">{{roles}}</td>
                    <td class="fade-edge remove-padding-top" data-search="{{users}}" data-display="{{users}}" data-grid-label="User(s)">{{users}}</td>
                    <td class="fade-edge remove-padding-top" data-search="{{compliance}}" data-display="{{compliance}}" data-grid-label="Compliance">{{compliance}}</td>
                    <td id = "policy-status" class="fade-edge remove-padding-top" data-search="{{status}}" data-display="{{status}}">
                    </td>
                    <td class="text-right content-fill text-left-on-grid-view no-wrap">
                        <a href="/emm/policies/view?id={{id}}" data-id="{{id}}" data-click-event="remove-form" class="btn padding-reduce-on-grid-view policy-view-link">
                            <span class="fw-stack">
                                <i class="fw fw-ring fw-stack-2x"></i>
                                <i class="fw fw-view fw-stack-1x"></i>
                            </span>
                            <span class="hidden-xs hidden-on-grid-view">查看</span>
                        </a>

                        <a href="/emm/policies/view-edit-policy?id={{id}}" data-id="{{id}}" data-click-event="remove-form" class="btn padding-reduce-on-grid-view policy-update-link">
                            <span class="fw-stack">
                                <i class="fw fw-ring fw-stack-2x"></i>
                                <i class="fw fw-edit fw-stack-1x"></i>
                            </span>
                            <span class="hidden-xs hidden-on-grid-view">修改配置</span>
                        </a>

                    </td>
                </tr>
            {{/each}}
            <br class="c-both" />
            </tbody>
        </table>
        {{/equal}}
    </div>
    <br class="c-both"/>
    <!-- /content -->

    <div id="content-filter-types" style="display: none">
        <div class="sort-title">排序</div>
        <div class="sort-options">
            <a href="#">平台<span class="ico-sort-asc"></span></a>
            <a href="#">所有权</a>
            <a href="#">角色</a>
            <a href="#">用户</a>
            <a href="#">发布类型</a>
            <a href="#">状态</a>
        </div>
    </div>

    <div id="remove-policy-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>确认移除所有选中的策略?</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="remove-policy-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-policy-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>成功移除选中策略</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-policy-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>移除失败，请稍后再试。</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-policy-error-devices" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>不能移除已发布到设备的策略，请重新选择。</h3>
                    <div class="buttons">
                        <a href="#" id="remove-policy-error-devices" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="publish-policy-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>确认发布所有选中的策略?</h3>
                    <div class="buttons">
                        <a href="#" id="publish-policy-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="publish-policy-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="publish-policy-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>选中策略发布成功</h3>
                    <div class="buttons">
                        <a href="#" id="publish-policy-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="publish-policy-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>发布失败，请稍后重试。.</h3>
                    <div class="buttons">
                        <a href="#" id="publish-policy-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="unpublish-policy-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>确认取消所有选中策略的发布?</h3>
                    <div class="buttons">
                        <a href="#" id="unpublish-policy-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="unpublish-policy-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="unpublish-policy-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>选中策略取消发布成功</h3>
                    <div class="buttons">
                        <a href="#" id="unpublish-policy-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="unpublish-policy-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>取消发布失败，请稍后再试。</h3>
                    <div class="buttons">
                        <a href="#" id="unpublish-policy-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="save-policy-priorities-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>策略优先级更新成功</h3>
                    <div class="buttons">
                        <a href="#" id="save-policy-priorities-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="save-policy-priorities-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>更新失败，请稍后再试。</h3>
                    <h4 class="message-from-server"></h4>
                    <div class="buttons">
                        <a href="#" id="save-policy-priorities-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="change-policy-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>确认修改策略?</h3>
                    <div class="buttons">
                        <a href="#" id="change-policy-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="#" id="change-policy-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="change-policy-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>策略修改成功</h3>
                    <div class="buttons">
                        <a href="#" id="change-policy-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="change-policy-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>修改失败，请稍后再试。</h3>
                    <div class="buttons">
                        <a href="#" id="change-policy-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="errorPolicyUnPublish" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        Operation cannot be performed !
                    </h3>
                    <h4>
                        请选择一个或多个策略取消发布。
                    </h4>
                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="errorPolicyUnPublishSelection" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        操作不能进行 !
                    </h3>
                    <h4>
                        You cannot select already inactive policies. Please deselect inactive policies and try again.
                    </h4>
                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ok&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="errorPolicyPublishSelection" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        操作不能进行 !
                    </h3>
                    <h4>
                        不能选择活跃策略，请重新选择。.
                    </h4>
                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="errorPolicyPublish" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        操作不能进行 !
                    </h3>
                    <h4>
                        请选择一个或多个策略。
                    </h4>
                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="errorPolicy" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>
                    <span class="fw-stack">
                        <i class="fw fw-ring fw-stack-2x"></i>
                        <i class="fw fw-error fw-stack-1x"></i>
                    </span>
                        操作不能进行 !
                    </h3>
                    <h4>
                        请选择一个或多个策略。
                    </h4>
                    <div class="buttons">
                        <a href="javascript:hidePopup()" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/policy-list.js"></script>
{{/zone}}