{{#zone "main"}}
    <div class="row wr-device-board">
        <div class="col-lg-12 wr-secondary-bar">
            <span class="page-sub-title">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;策略列表（根据优先级排序）
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- content -->
            <div class="wr-content">
                <span id="policy-listing-status-msg" >{{policyListingStatusMsg}}</span>
                <div class="wr-list-group wr-sortable policy-list">
                    {{#each policyListToView}}
                        <span class="list-group-item " place="place_{{id}}" id="{{id}}">
                            <div class="row no-gutter">
                                <div class="col-lg-3 clearfix" style="width:40%">
                                    <span class="wr-sortable-icon"><i class="fw fw-sort"></i></span>
                                    <span class="editable-text wr-sort-index">
                                        <input type="text" id="dd" class="index">
                                        <span class="icon fw-stack">
                                            <i class="fw fw-ring fw-stack-2x"></i>
                                            <i class="fw fw-edit fw-stack-1x"></i>
                                        </span>
                                    </span>
                                    <span class="wr-list-icon">
                                        {{#equal platform "android"}}
                                            <i class=" fw fw-android"></i>
                                        {{/equal}}
                                        {{#equal platform "windows"}}
                                            <i class=" fw fw-windows"></i>
                                        {{/equal}}
                                        {{#equal platform "ios"}}
                                            <i class=" fw fw-apple"></i>
                                        {{/equal}}
                                    </span>
                                    <span class="wr-list-desc">
                                        <h3 class="wr-list-name">{{name}}</h3>
                                        <span class="wr-list-username">{{platform}}</span>
                                    </span>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row no-gutter">
                                        <div class="wr-desc-list-configs highlight col-lg-4">
                                            <div>
                                                <b>Ownership Type : </b> {{ownershipType}}
                                            </div>
                                        </div>
                                        {{#if roles}}
                                            <div class="wr-desc-list-configs highlight col-lg-4">
                                                <div>
                                                    <b>分配角色 : </b> {{roles}}
                                                </div>
                                            </div>
                                        {{else}}
                                            <div class="wr-desc-list-configs highlight col-lg-4">
                                                <div>
                                                    <b>分配用户 : </b> {{users}}
                                                </div>
                                            </div>
                                        {{/if}}
                                        <div class="wr-desc-list-configs col-lg-4">
                                            <div>
                                                <b>推送类型 :</b> {{compliance}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                    {{/each}}
                </div>
                {{#equal noPolicy false}}
                    <div id="save-new-priorities-button" class="wr-input-control wr-btn-grp">
                        <button class="wr-btn hide" id="sortUpdateBtn" data-policycount="{{policyCount}}" data-enabled="{{saveNewPrioritiesButtonEnabled}}" disabled>保存排序</button>
                        <button class="wr-btn" id="applyChangesBtn">保存修改</button>
                    </div>
                {{/equal}}
            </div>
            <!-- /content -->
        </div>
    </div>

    <div id="change-policy-modal-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>确认保存修改?</h3>
                    <div class="buttons">
                        <a href="javascript:void(0)" id="change-policy-yes-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                        &nbsp;&nbsp;
                        <a href="javascript:void(0)" id="change-policy-cancel-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;取消&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="change-policy-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>修改成功</h3>
                    <div class="buttons">
                        <a href="javascript:void(0)" id="change-policy-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="change-policy-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>修改失败，请稍后再试。</h3>
                    <div class="buttons">
                        <a href="javascript:void(0)" id="change-policy-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="remove-policy-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>移除失败，请稍后再试。.</h3>
                    <div class="buttons">
                        <a href="javascript:void(0)" id="remove-policy-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="save-policy-priorities-success-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>优先级保存成功</h3>
                    <div class="buttons">
                        <a href="javascript:void(0)" id="save-policy-priorities-success-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="save-policy-priorities-error-content" class="hide">
        <div class="content">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-centered">
                    <h3>保存失败，请稍后再试。.</h3>
                    <h4 class="message-from-server"></h4>
                    <div class="buttons">
                        <a href="javascript:void(0)" id="save-policy-priorities-error-link" class="btn-operations">
                            &nbsp;&nbsp;&nbsp;&nbsp;确认&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{{/zone}}
{{#zone "bottomJs"}}
    <script src="{{self.publicURL}}/js/policy-priority.js"></script>
    <script src="{{self.publicURL}}/js/sortable-list.js"></script>
{{/zone}}