{{#zone "main"}}
    <span id="permission" data-permission="{{permissions}}"></span>
    <div class="row wr-device-board">
        <div class="col-lg-12 wr-secondary-bar">
            <span class="page-sub-title">设备</span>
        </div>
    </div>
    <div id="loading-content" class="col-centered">
        <i class="fw fw-settings fw-spin fw-2x"></i>
        &nbsp;&nbsp;&nbsp;
        加载设备中 . . .
        <br>
    </div>
    <div class="container-fluid">
    <span id="device-listing-status-msg" ></span>
    <div id="device-table">
        <table class="table table-striped table-hover list-table display responsive nowrap data-table table-selectable grid-view hidden" id="device-grid">
            <thead>
            <tr class="sort-row">
                <th class="no-sort"></th>
                <th>设备名称</th>
                <th>用户</th>
                <th>状态</th>
                <th>平台</th>
                <th>所有权</th>
                <th class="no-sort"></th>
            </tr>
            <tr class="filter-row filter-box">
                <th class="no-sort"></th>
                <th data-for="设备名称" class="text-filter"></th>
                <th data-for="用户名" class="text-filter"></th>
                <th data-for="状态" class="select-filter"></th>
                <th data-for="平台" class="select-filter data-platform"></th>
                <th data-for="所有权" class="select-filter"></th>
                <th class="no-sort"></th>
            </tr>
            <tr class="bulk-action-row">
                <th colspan="7">
                    <div id = "operation-bar">
                        {{unit "operation-bar"}}
                    </div>
                    <div id="operation-guide" class="bs-callout bs-callout-info">
                        <h4>启用设备操作</h4>
                        <p>请选择上述平台选项，以启用设备操作。</p>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody id="ast-container">

            <br class="c-both" />
        </tbody>
        </table>
    </div>
    </div>
    <br class="c-both"/>
    <div id="content-filter-types" style="display: none">
        <div class="sort-title">排序</div>
        <div class="sort-options">
            <a href="#">设备名称<span class="ico-sort-asc"></span></a>
            <a href="#">用户</a>
            <a href="#">状态</a>
            <a href="#">平台</a>
            <a href="#">所有权</a>
        </div>
    </div>

{{/zone}}
{{#zone "bottomJs"}}
    <script id="device-listing" data-current-user="{{currentUser.username}}" data-image-resource="{{self.publicURL}}/images/" src="{{self.publicURL}}/templates/device-listing.hbs" type="text/x-handlebars-template" ></script>
    <script src="{{self.publicURL}}/js/device-listing.js"></script>
{{/zone}}